<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets_after/img/favicon.png" rel="icon">
  <link href="assets_after/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="{{ url_for('static',filename='assets_after/vendor/aos/aos.css')}}">
  <link href="{{ url_for('static',filename='assets_after/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets_after/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets_after/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets_after/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets_after/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets_after/css/style.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap-337.min.css')}}">
  <link rel="stylesheet" href="font-awsome/css/font-awesome.min.css">
    

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  
  
<section   id="hero" hero class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Glad to have you here.</h1>
      <!-- <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p> -->
    </div>
  </section><!-- End Hero -->

  
  
  
</body>

</html>