{% extends "layout.html" %}
{% block body %}
 
<div class="card card-body">
    <form action="/update/{{list.Group_name}}/{{list.EMP_ID}}/{{list.Group_ID}}" method="POST">
      <div class="form-group">
        <input type="number" value="{{list.EMP_ID}}" class="form-control" name="Emp_ID" placeholder="Emp_ID">
      </div>
      
     

      
      
      <div class="form-group">
        <select style="height: 40px;" value={{list.Group_name}} name="group_name" class="form-control" required>
          <option  disabled="disabled" value="" selected="selected" >Choose group name</option>
          <option>Infra</option>
          <option>Cyber</option>
          <option>Garage</option>
          <option>CIS</option>
      </select>
      </div>
      

      <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">
        Update
      </button>
      </div>
    </form>
  </div>
</div>
 
{% endblock %}